<ul>
  <li *ngFor="let item of coursesList; let i = index">
    {{ item.name }} (class number: {{ item.class_number }}) - {{ item.number_of_students }} students
    <button (click)="startEditing(item)">Edit</button>
    <button (click)="removeItem(item)">Remove</button>
    <div *ngIf="item === selectedCourse">
      <form (submit)="editCourse()">
        <input type="text" [(ngModel)]="editedCourse.name" name="name" placeholder="Name">
        <input type="number" [(ngModel)]="editedCourse.class_number" name="class_number" placeholder="Class Number">
        <input type="number" [(ngModel)]="editedCourse.number_of_students" name="number_of_students" placeholder="Number of Students">
        <button type="submit">Save</button>
        <button type="button" (click)="cancelEditing()">Cancel</button>
      </form>
    </div>
  </li>
</ul>

<div>
  <input type="text" [(ngModel)]="newCourse.name" placeholder="Name">
  <input type="number" [(ngModel)]="newCourse.class_number" placeholder="Class Number">
  <input type="number" [(ngModel)]="newCourse.number_of_students" placeholder="Number of Students">
  <button (click)="addCourseToAccount()">Add Course</button>
</div>
