<div *ngIf="!showTable">
  <ul>
    <li *ngFor="let item of userService.coursesList; let i = index">
      {{ item.name }} - {{ item.professor }} - {{ item.groupPeriod }} - {{ item.department }} - {{ item.localthreshold }} - {{ item.timeSlot }}
      <button (click)="startEditing(item)">Edit</button>
      <button (click)="removeItem(item)">Remove</button>
      <div *ngIf="item === selectedCourse">
        <form (submit)="editCourse(item)">
          <input type="text" [(ngModel)]="editedCourse.name" name="name" placeholder="Name">
          <input type="text" [(ngModel)]="editedCourse.professor" name="professor" placeholder="Professor">
          <input type="text" [(ngModel)]="editedCourse.groupPeriod" name="groupPeriod" placeholder="Group Period">
          <input type="text" [(ngModel)]="editedCourse.department" name="department" placeholder="Department">
          <input type="number" [(ngModel)]="editedCourse.localthreshold" name="localthreshold" placeholder="Local Threshold">
          <input type="text" [(ngModel)]="editedCourse.timeSlots" name="timeSlots" placeholder="Time Slot">
          <button type="submit">Save</button>
          <button type="button" (click)="cancelEditing()">Cancel</button>
        </form>
      </div>
    </li>
  </ul>

  <div>
    <input type="text" [(ngModel)]="newCourse.name" placeholder="Name">
    <input type="text" [(ngModel)]="newCourse.professor" placeholder="Professor">
    <input type="text" [(ngModel)]="newCourse.groupPeriod" placeholder="Group Period">
    <input type="text" [(ngModel)]="newCourse.department" placeholder="Department">
    <input type="number" [(ngModel)]="newCourse.localthreshold" placeholder="Local Threshold">
    <input type="text" [(ngModel)]="newCourse.timeSlots" placeholder="Time Slots">
    <button (click)="addCourseToAccount()">Add Course</button>
    <button (click)="toggleTimetable()">Show Timetable</button>
  </div>

  <button (click)="goNext()">Next!</button>
</div>

<div *ngIf="showTable" class="timetable-container">
  <app-timetable [timeSlots]="newCourse.timeSlots" (changeTimeSlotsEvent)="updateTimeSlots($event)"></app-timetable>
</div>