<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-toggler dropdown" id="dropdown">
      <button class="btn navbar-toggler dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-item nav-link" (click)="goToSetsPage()">Sets</a>
      </div>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="goToSetsPage()">Sets</a>
        <a class="nav-item nav-link" (click)="goToAllCardsPage()">All cards</a>
      </div>
      <div id="button-row">
        <button *ngIf="!server.isLoggedIn" type="button" class="navbar-button btn" id="button-login" (click)="goToSignUpPage()">sign up</button>
        <button *ngIf="!server.isLoggedIn" type="button" class="navbar-button btn" id="button-signup" (click)="goToLoginPage()">log in</button>
      </div>
    </div>

    <div id="profile-container" class="navbar-toggler dropdown">
      <button id="profile" class="btn dropdown-toggle"  type="button" data-toggle="dropdown">
      </button>

      <div class="dropdown-menu dropdown-menu-right">
        <a *ngIf="!server.isLoggedIn" class="nav-item nav-link" (click)="goToLoginPage()">Log in</a>
        <a *ngIf="!server.isLoggedIn" class="nav-item nav-link" (click)="goToSignUpPage()">Sign up</a>    
        <a *ngIf="server.isLoggedIn" class="nav-item nav-link" (click)="goToProfilePage()">Profile</a>
        <a *ngIf="server.isLoggedIn" class="nav-item nav-link" (click)="logout()">Logout</a> 
      </div>
    </div>
  </nav>