<!-- <h2>DELETE ACCOUNT</h2>
<div id="error-message" *ngIf="showErrorMessage">
{{showErrorMessage}}
</div>
<input
  #password
  type="password"
  name="password"
  placeholder="Enter password"
  autoComplete="current-password"
  required
/>
<div id="button-container">
  <button type="submit" (click)="deleteAccount(password.value)">Delete</button>
</div> -->


<div id="container" class="in-center">
  <div id="delete-account-container" class="in-center">
    <div id="title">
     <h2>DELETE ACCOUNT</h2>
     <hr>
    </div>
    <div id="container-input" class="in-column">
      <div id="error-message" *ngIf="showErrorMessage">
      {{showErrorMessage}}
      </div>

			<input
			  #password
			  id="input-password"
			  type="password"
			  name="password"
			  placeholder="Enter password"
			  autoComplete="current-password"
			  required
			/>
      <div id="button-container">
        <button id="submit-button" class="btn" type="submit" (click)="deleteAccount(password.value)">Delete</button>
      </div>
    </div>
  </div>
</div>