<div *ngIf="!showTable && !showClassrooms">
  <div class="course-section modern">
    <form class="course-form">
      <div class="form-row">
        <label for="course-name">Nome:</label>
        <input *ngIf="type === 'insert'" type="text" id="course-name" [(ngModel)]="course.name" placeholder="APC 1 - Turma 1" name="name">
        <strong *ngIf="type === 'edit'">{{ course.name }}</strong>
      </div>

      <div class="form-row">
        <label for="course-professor">Professor:</label>
        <input type="text" id="course-professor" [(ngModel)]="course.professor" placeholder="José" name="professor">
      </div>

      <div class="form-row">
        <label for="course-seat-number">Vagas ofertadas:</label>
        <input type="text" id="course-seat-number" [(ngModel)]="course.seatCount" name="seat">
      </div>

      <div class="form-row">
        <label for="course-group-period">Agrupamento das aulas (quantas horas de aula por dia):</label>
        <input type="text" id="course-group-period" [(ngModel)]="course.groupPeriod" placeholder="2 4" name="groupPeriod"> 
      </div>

      <div class="form-row">
        <label for="course-group-period">Semestre da disciplina (periodo):</label>
        <input type="number" id="course-semester-period" [(ngModel)]="course.semesterPeriod" min="1" max="20" value="1" name="semesterPeriod"> 
      </div>

      <div class="form-row">
        <label for="course-department">Departamento:</label>
        <input type="text" id="course-department" [(ngModel)]="course.department" placeholder="Software" name="Department">
      </div>

      <!-- <div class="form-row">
        <label for="course-local-threshold">Intervalo mínimo de dias entre aulas:</label>
        <input type="number" id="course-local-threshold" [(ngModel)]="course.localthreshold" placeholder="Local threshold" name="localthreshold">
      </div> -->

      <div class="form-row">
        <label for="course-time-slots">Salas:</label>
        <div class="container">
          <ng-container *ngFor="let classroom of course.classrooms">
            <strong>{{ classroom.name }} </strong>
          </ng-container>
        </div>
        <button class="light-button" type="button" (click)="openEditClassrooms(course.classrooms)">Editar Salas</button>
      </div>

      <div class="form-row">
        <label for="course-time-slots">Turnos:</label>
        <div class="container">
          <strong>{{ this.course.timeSlots }}</strong>
        </div>
        <button class="light-button" (click)="openTimetable(course.timeSlots)">Editar Turnos</button>
      </div>
    </form>
    <div class="button-row">
      <button type="button" class="course-button remove-button" (click)="goBack()">Cancelar</button>
      <button type="submit" class="course-button" (click)="sendSelection()">Confirmar</button>
    </div>
  </div>
</div>

<div *ngIf="showTable" class="timetable-container">
  <app-timetable [timeSlots]="timeTableSlots" (changeTimeSlotsEvent)="updateTimeSlots($event)"></app-timetable>
</div>

<div *ngIf="showClassrooms">
  <app-course-classroom-edit [classroomsAdded]="classrooms" [seatCount]="course.seatCount"  (changeClassroomsEvent)="updateClassrooms($event)"></app-course-classroom-edit>
</div>