<div id="container" class="in-center">
  <div id="login-container" class="in-center">
    <img id="icon-image" src="../../assets/Pokeball.PNG">
    <div id="login-title">
     <h2>LOGIN</h2>
     <hr>
    </div>
    <div id="container-input" class="in-column">
      <div id="error-message" *ngIf="showErrorMessage">
      {{showErrorMessage}}
      </div>

        <input id="input-username" class="text-input"
          #username
          type="username"
          name="username"
          placeholder="Enter username"
          required
        />
        <input id="input-password" class="text-input"
          #password
          type="password"
          name="password"
          placeholder="Enter password"
          required
        />
      <div id="button-container">
        <button id="login-button" (click)="login(username.value, password.value)" *ngIf="!server.isLoggedIn">Login</button>
      </div>
    </div>
  </div>
</div>