<div id="container" class="in-center">
  <div id="signup-container" class="in-center">
    <div id="signup-title">
     <h2>CREATE ACCOUNT</h2>
     <hr>
    </div>
    <div id="container-input" class="in-column">
      <div *ngIf="showErrorMessage">
        {{showErrorMessage}}
      </div>

        <input id="input-email" class="text-input"
          #email
          type="email"
          name="email"
          placeholder="Enter email"
          required
        />
        <input id="input-password" class="text-input"
          #password
          type="password"
          name="password"
          placeholder="Enter password"
          required
        />
      <div id="button-container">
        <button id="signup-button" (click)="signup(email.value, password.value)">Create account</button>
      </div>
    </div>
  </div>
</div>