<div id="container" class="in-center">
  <div id="change-password-container" class="in-center">
    <div id="title">
     <h2>CHANGE THE PASSWORD</h2>
     <hr>
    </div>
    <div id="container-input" class="in-column">
      <div id="error-message" *ngIf="showErrorMessage">
      {{showErrorMessage}}
      </div>

    <input
      #oldPassword
      id="input-old-password"
      class="text-input"
      type="password"
      name="password"
      placeholder="Old password"
      autoComplete="current-password"
      required
    />
    <input
      #newPassword
      id="input-new-password"
      class="text-input"
      type="password"
      name="password"
      placeholder="New password"
      required
    />
    <input
      #reEnterPassword
      id="input-re-enter-password"
      class="text-input"
      type="password"
      name="password"
      placeholder="Re-enter password"
      required
    />
    <div *ngIf="showSuccessMessage">
    {{showSuccessMessage}}
    </div>
    
    <div id="button-container">
      <button 
        id="submit-button"
        type="submit"
        (click)="changePassword(oldPassword.value, newPassword.value, reEnterPassword.value)">
        Change
      </button>
    </div>
  </div>
</div>