#container{
	width: 100%;
}

#change-password-container{
	width: 500px;
	height: 400px;
	padding: 20px 40px;
	border-radius: 12px;
	box-shadow: 0 12px 18px 2px rgba(34,0,51,.04),0 6px 22px 4px rgba(7,48,114,.12),0 6px 10px -4px rgba(14,13,26,.12);
}

.in-center{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.in-column{
	display: flex;
	flex-flow: column nowrap;
}

.input-description{
	font-size: 15px;
	line-height: 22px;
}

#title{
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

#input-old-password{
	margin-bottom: 16px;
}

#input-new-password{
	margin-bottom: 10px;
}

#input-re-enter-password{
	margin-bottom: 16px;
}

.text-input{
	height: 48px;
}

#submit-button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 100%;
	font-weight: 700;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	background-color: rgb(230, 0, 35);
}

#submit-button:hover{
	background-color: #343a40;
}

@media(max-width: 1200px){
	#change-password-container{
		width: 300px;
	}
}